#container{
    display:grid;
    grid-template-rows:auto;
    width: 20%;
  }
  .parent{
    padding: 10px;
    font-family:Comic Sans MS;
    font-weight:bold;
    background-color: cadetblue;
    border:1px solid black;
  }
  
  .child{
    display:block;
    background-color:pink;
    padding: 10px;
    margin:10px;