body,
button,
input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
}

.col-25 {
  /* float: left; */
  margin-left: 70px;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  /* float: left; */
  margin-left: 70px;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.filter-container {
  margin-left: 55px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.search-container {
  margin-left: 70px;
}

button {
  margin: 20px;
}

.user {
  color: blueviolet;
  font-weight: bold;
}

.messageChat {
  color: green;
}
.chatp {
  background-color: lightyellow;
}