body{
    --file:"• ";
    --closed: "▶ ";
    --expanded: "▼ ";
}

.file::before{
    content: var(--file);
}

.closed::before{
    content: var(--closed);
}
.expanded::before{
    content: var(--expanded);
}